<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- header -->
    <div class="header-container">
        <header class="header">
            <a href="/" class="header-title-link">
                <h1 class="header-title">BookSwap</h1>
            </a>
            <div class="header-buttons">
                <a href="/matches" class="button-primary">find new books!</a>
                <a href="/user" class="button-secondary">user</a>
            </div>
        </header>
    </div>

    <div class="content-container">
        <h1 class="trade-matches">Possible Trade Matches</h1>
        <section class="book-list-container">
        {% if matches %}
            <ul class="list-group">
                {% for match in matches %}
                <p>
                    <a href="{{ url_for('trade_request', requester_id=match['id']) }}">
                        <button type="button" class="search-button">
                            Trade with {{ match['name'] }}
                        </button>
                    </a>
                        <h2>Give books:</h2>
                                <div class="book-list-container">
                                    {% for book in match['give_books'] %}
                                    <div class="book">
                                        <div class="book-details">
                                            <h3 class="book-title">{{ book['title'] }}</h3>
                                            <p class="book-author">by {{ book['author'] }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                        <h2>Receive books</h2>
                                {% for book in match['receive_books'] %}
                                <div class="book">
                                    <div class="book-details">
                                        <h3 class="book-title">{{ book['title'] }}</h3>
                                        <p class="book-author">by {{ book['author'] }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                </p>
                 {% endfor %}
            </ul>
        {% else %}
            <p>No matches found!</p>
        {% endif %}
    </section>
    </div>


</body>
</html>

