<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- header -->
    <div class="header-container">
        <header class="header">
            <a href="/" class="header-title-link">
                <h1 class="header-title">BookSwap</h1>
            </a>
            <div class="header-buttons">
                <a href="/matches" class="button-primary">find new books!</a>
                <a href="/user" class="button-secondary">user</a>
            </div>
        </header>
    </div>
    <!-- accepted -->
    <div class="content-container">
        <h1 class="trade-matches">Trade Accepted!</h1>
        <div role="alert">
            <strong>Congratulations!</strong> You have successfully accepted the trade request from <strong>{{ requester_name }}</strong>.
        </div>
    
        <h2 class="details">Trade Details:</h2>
        <p><strong>Books you will receive:</strong></p>
            <div class="book-list-container">
                {% for book in received_books %}
                <div class="book">
                    <div class="book-details">
                        <h3 class="book-title">{{ book['title'] }}</h3>
                        <p class="book-author">by {{ book['author'] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>    
        <p><strong>Books you will give away:</strong></p>
        <div class="book-list-container">
            {% for book in given_books %}
            <div class="book">
                <div class="book-details">
                    <h3 class="book-title">{{ book['title'] }}</h3>
                    <p class="book-author">by {{ book['author'] }}</p>
                </div>
            </div>
            {% endfor %}
        </div>   
    
        <h3 class="details">Contact Information:</h3>
        <p class="details"><strong>Name:</strong> {{ requester_name }}</p>
        <p><strong>Email:</strong> {{ contact_email }}</p>
    
        <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Back to Home</a>
    </div>
</body>
</html>

